

#logo {
  background-color: #E34454;
  color: white;

  ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track{
    background: white;
  }
  ::-webkit-scrollbar-thumb{
    background: black;
  }


}
h1{
  text-align: center;
  color:white;
  font-size: 300%;
}
h2{
  text-align:center;
  margin-left: 3%;
  margin-right: 3%;
}

header {
    background-color: lightblue;

}

.div1{
    float:left;
}


.align{
  float:right;
  margin-right:3%
}



img {
  width: 15%;
  height: auto;

}
.align1{
  margin-left:3%;
}

p1{
  color:red;
  font-weight: bold;
  font-size: 150%;
  text-align: center;
}
p{
  font-size:135%;
}

p4{
  color:black;
  font-weight: bold;
  font-size: 150%;
  text-align: center;
}
hr{
  clear:both;
}


body {
    background-color: lightblue;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


li a:hover {
	background-color: #111;
}

body {font-family: Arial, Helvetica, sans-serif;}

#myImg, #myImg1, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width:100%;
    max-width:20%;

}

#myImg:hover {opacity: 0.7;}

#myImg1 :hover {opacity: 0.7;}
#myImg2 :hover {opacity: 0.7;}
#myImg3 :hover {opacity: 0.7;}


#myImg4 :hover {opacity: 0.7;}
#myImg5 :hover {opacity: 0.7;}
#myImg6 :hover {opacity: 0.7;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}



#caption, #caption1, #caption2, #caption3, #caption4, #caption5, #caption6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}



/* Add Animation */
.modal-content, #caption, #caption1, #caption2, #caption3, #caption4, #caption5, #caption6 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}


.close,.close1,.close2,.close3, .close4, .close5, .close6 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



.close1:hover,
.close1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.close3:hover,
.close3:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.close4:hover,
.close4:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.close5:hover,
.close5:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.close6:hover,
.close6:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}





@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}


.show {display:block;}
